@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'iranyekan';
  src: url('/fonts/iranyekan/iranyekanlight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'iranyekan';
  src: url('/fonts/iranyekan/iranyekanregular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iranyekan';
  src: url('/fonts/iranyekan/iranyekanmedium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'vazir';
  src: url('/fonts/vazir/Vazir-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'vazir';
  src: url('/fonts/vazir/Vazir-Medium-FD.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'vazir';
  src: url('/fonts/vazir/Vazir-Bold-FD.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hidden-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.styled-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    margin: 0 15px;
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #fe1940;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #fe4d6b;
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@layer utilities {

  .ltr{
    direction: ltr;
  }
  .rtl{
    direction: rtl;
  }
  
  .text-shadow {
    text-shadow: 0 0 2px #000000c9;
  }
  .animate-spin-reverse{
    animation: spinReverse 1s linear infinite;
  }	

  .dark-otp-pin input.mantine-PinInput-input{
    background-color: #192b39;
    border-color: #192b39;
    color: #fff;
    &:focus{
      border-color: #fff;
    }
  }
  .round-linecap{
    stroke-linecap: round;
  }
  .stroke-15 {
    stroke-width: 1.5px;
  }
  .writing-tb {
    writing-mode: tb;
  }
  .clip-radius{
    clip-path: path('M0,0.5V90h89.5C40.1,90,0,49.9,0,0.5z');
  }

  .hidden-scrollbar {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .headerShadow{
    box-shadow: 0 2px 5px #8b8b8b30;
  }
  .no-box-shadow {
    box-shadow: none;
  }
  
  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      margin: 0 15px;
      background: #fff;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #fe1940;
      border-radius: 5px;
  
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #fe4d6b;
    }
  }

  .min-h-screen-nav{
    min-height: calc(100vh - 80px);
  }
  .min-h-screen-nav-header{
    min-height: calc(100vh - 164px);
  }
  .min-h-screen-header{
     min-height: calc(100vh - 84px);
  }

  .h-highlight{
    height: calc(100svh - 90px);
  }

  .bg-gradient-green{
    @apply bg-gradient-to-t from-[#028d7e] to-[#99feac];
  }
  .bg-gradient-green2{
    @apply bg-gradient-to-t from-[#028d7e] to-[#6edb83];
  }
  .bg-gradient-orange{
    @apply bg-gradient-to-t from-[#fe5f73] to-[#ff908b];
  }
  .bg-gradient-violet{
    @apply bg-gradient-to-t from-[#aa3bff] to-[#fe80ff];
  }
  .bg-gradient-dark-violet{
    @apply bg-gradient-to-t from-[#161b39] to-[#161b39];
  }
  .bg-gradient-dark-green{
    @apply bg-gradient-to-t from-[#012431] to-[#0f2b32];
  } 
  .bg-gradient-light-green{
    @apply bg-gradient-to-t from-[#e6fcf5] to-[#d3f9d8];
  }  
  
}

.otp-pin{
  justify-content: center;
  gap: 5px;
  .mantine-PinInput-pinInput{
    width: 45px;
    @media screen and (min-width:400px) {
      width: 55px;
    }
  }
  .mantine-PinInput-input {
    height: 45px;
    width: 45px;
    min-height: 45px;
    font-weight: 600;
    border-radius: 100%;
    background-color: #fff;
    border-color: #dddddd;
    color: #333;
    @media screen and (min-width:400px) {
      height: 55px;
      width: 55px;
    }
    &::placeholder{
      color: transparent;
    }
    &:focus{
      border-color: #aaaaaa;
    }
    &::selection{
      background: transparent;
    }
  }
  &.has-error .mantine-PinInput-input{
    border-color: red;
    color: red;
  }
  &.has-sucess .mantine-PinInput-input{
    border-color: #2ac99f;
    color: #2ac99f;
  }
}

.highlight-progresbar {
  animation: fillWidth 4s linear forwards;
}
.animation-paused{
  animation-play-state: paused;
}
@keyframes fillWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.touch-action-none{
  touch-action: none;
  -webkit-touch-callout: none;   /* جلوگیری از منوی کپی iOS */
  -webkit-user-select: none;     /* جلوگیری از انتخاب متن در iOS */
  user-select: none;
}
.truncate-content-p p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inserted-content {
  li{
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 5px;
    font-size: .875rem;
  }
  p{
    margin-bottom: 13px;
    font-size: .875rem;
    text-align: justify;
  }
  h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  img{
    width: 100%;
    margin: 15px 0;
    display: block;
  }
}
.max-h-95-screen{
  max-height: 95vh;
}
.safePadding-b{
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

.search-result-max-h{
  max-height: calc(100vh - 220px);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@keyframes shrinkKeyframe {
  from { width: 100%; }
  to   { width: 0; }
}
.shrinkNimation {
  animation: shrinkKeyframe 2s linear forwards;
}

.confirm-min-h {
    min-height: calc(100vh - 200px);
}
.cart-min-h{
  min-height: calc(100vh - 162px);
}